<div class="blocks-header">
    <p>{{#str}}darkmode-title, theme_yinyang{{/str}}</p>

    <a id="darkmodebtn" href="#" class="btn btn-block btn-dark">{{#str}}darkmode-enable, theme_yinyang{{/str}}</a>

    {{{output.page_heading_button}}}
</div>