{{#haslogos}}
    <div id="logos">
        <div class="container">
            <div class="row">
                {{#logos}}
                    <div class="col">
                        <a href="{{logourl}}">
                            <img src="{{logoimage}}">
                        </a>
                    </div>
                {{/logos}}
            </div>
        </div>
    </div>
{{/haslogos}}