.yinyang-searchinput {
    margin-bottom: 1rem;

    .search-input-form {
        width: 100%;
    }

    .input-group-text {
        padding: .375rem 1.25rem;
        border: none;
        background-color: $bg-searchinput;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    input {
        height: 4rem;
        border: none;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: $bg-searchinput;
        padding: .375rem .75rem .375rem 0;
    }
}

.card {
    @extend .shadow-sm;
    border: none;
    -webkit-border-radius: $card-border-radius;
    -moz-border-radius: $card-border-radius;
    border-radius: $card-border-radius;
    background-color: #fff;

    .card-img,
    img:not(.userpicture) {
        border-top-right-radius: $card-border-radius;
        border-top-left-radius: $card-border-radius;
        -moz-border-radius-topright: $card-border-radius;
        -moz-border-radius-topleft: $card-border-radius;
        -webkit-border-top-right-radius: $card-border-radius;
        -webkit-border-top-left-radius: $card-border-radius;
    }

    .card-footer {
        border-bottom-right-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
        -moz-border-radius-bottomright: $card-border-radius;
        -moz-border-radius-bottomleft: $card-border-radius;
        -webkit-border-bottom-right-radius: $card-border-radius;
        -webkit-border-bottom-left-radius: $card-border-radius;
    }
}

.block .block-cards .progress {
    -webkit-border-radius: $card-border-radius;
    -moz-border-radius: $card-border-radius;
    border-radius: $card-border-radius;
}

.alert,
#page-admin-index .releasenoteslink,
#page-admin-index .adminwarning,
#page-admin-index .adminerror,
.que .formulation,
.que .outcome,
.que .comment,
.assignfeedback_editpdf_widget .label {
    -webkit-border-radius: $card-border-radius / 2;
    -moz-border-radius: $card-border-radius / 2;
    border-radius: $card-border-radius / 2;
}

.btn,
#page-grade-grading-manage .actions .action {
    -webkit-border-radius: $card-border-radius;
    -moz-border-radius: $card-border-radius;
    border-radius: $card-border-radius;
}

[data-region=right-hand-drawer].drawer {
    top: 0;
    height: 100%;

    .message-app {
        background-color: #fff;
    }
}

.region_main_settings_menu_proxy {
    margin-top: 1rem;
    background-color: initial;
}

.coursesearchbox {
    margin: 0 auto 1rem auto;
}