$brand-primary: #1e88e5 !default;
$containers-topright-border-radius: 20px !default;
$card-border-radius: 8px !default;
$bg-primary: #f0f8fb !default;
$bg-blocksheader: #e1ecf2 !default;
$bg-blocksbody: #cddfeb !default;
$bg-searchinput: #dceff6 !default;

$bg-primary-darkmode: #151515 !default;
$bg-blocksheader-darkmode: #1b1b1b !default;
$bg-blocksbody-darkmode: #292929 !default;
$bg-searchinput-darkmode: #0f0f0f !default;
$primary-darkmode: #617f89 !default;
$primary-links-darkmode: #51636f;